@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,200&display=swap');
/*CUARTA SECCION*/
.curriculum{
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;
}

.curriculum .contenedor-four{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom:  10px;
}

.curriculum .fila .item .lugar{
    color: aqua;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .izq{
    border-right: 2px solid aqua;
    margin-right: 20px;
}

.curriculum .fila .der{
    border-left: 2px solid aqua;
    margin-left: 20px;
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: aqua;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: aqua;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}


@media screen and (max-width:700px) {

    .curriculum .fila{
        display: block;
    }

    .curriculum .fila .col{
        width: 90%;
    }

    .curriculum .fila .derecha{
        margin-left: 20px;
    }
}